@use '../config' as *;
@use 'sass:map';

.bork-drawer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    background: $white;
    height: 100%;
    width: 90%;
    max-width: 600px;
    box-shadow: $box-shadow;
    overflow-y: auto;
    transition: $transition;
    transform: translateX(100%);
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid $background;
        position: sticky;
        top: 0;
        background: white;
        h2 {
            margin: 0 16px 0 0;
        }
    }
    &__product {
        display: flex;
        padding-bottom: 24px;
        margin-bottom: 24px;
        border-bottom: 2px solid $background;
        img {
            max-width: 40%;
        }
    }
    &__details {
        margin-left: 24px;
        h3 {
            margin: 0;
            @include font-size(16);
            @include md {
                @include font-size(20);
            }
        }
    }
    &__price {
        color: $orange;
        font-weight: bold;
        @include md {
            @include font-size(20);
        }
    }
    &__button {
        @include font-size(12);
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500;
        color: $grey-font-colour;
        border-bottom: 1px solid $grey-font-colour;
    }
    &__footer {
        margin-top: auto;
        text-align: center;
        border-top: 2px solid $background;
        p {
            font-weight: bold;
        }
    }
    &__close {
        width: 20px;
        transition: $transition;
        &:hover {
            opacity: 0.8;
        }
    }
    > * {
        padding: map.get($spacings, 'sm');
        @include md {
            padding: map.get($spacings, 'md') map.get($spacings, 'lg');
        }
    }
    .button {
        &__text {
            @include font-size(14);
            @include md {
               @include font-size(16); 
            }
        }
        &--secondary {
            margin-top: 12px;
        }
    }
    &--active {
        transform: translateX(0);
    }
}