@use '../config' as *;
@use 'sass:map';

.bork-product {
    display: flex;
    flex-direction: column;
    background: $white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    text-align: center;
    padding: map.get($spacings, 'md');
    @include md {
        padding: map.get($spacings, 'lg');
    }
    &__price {
        @include h3-style;
        color: $orange;
        font-weight: bold;
    }
    &__details {
        padding-top: map.get($spacings, 'sm');
    }
    &--small {
        flex-direction: row;
        padding: 0 0 24px;
        margin-bottom: 24px;
        border-bottom: 2px solid $background;
        border-radius: 0;
        box-shadow: none;
        text-align: left;
        > a {
            max-width: 40%;
            margin-right: 24px;
        }
        h3 {
            margin: 0;
            @include font-size(16);
            @include md {
                @include font-size(20);
            }
        }
        p {
            margin-bottom: 12px;
            @include md {
                @include font-size(20);
            }
        }
        .button {
            padding: 0;
            opacity: 0.5;
            span {
                @include font-size(14);
            }
        }
    }
}