@use '../config' as *;

*,
*::before,
*::after {
    background-color: transparent;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    background-color: $white;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin-block-end: 0;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

img, picture {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font-family: inherit;
    font-size: inherit;
}